<h2>States</h2>

  <% states = ["Colorado", "Michigan", "New York", "California", "Illinois"] %>

    <% states.each do |state| %>
      <p> <%= state %> </p>
    <% end %>

<h2>Cities</h2>
  <% cities = [ "Boulder", "Denver", "Detroit", "Lansing", "Grand Rapids", "New York", "San Francisco", "Chicago" ] %>

  <% cities.each do |city| %>
    <p> <%= city %> </p>
  <% end%>
